#reg{

	background-color:rgba( 255, 255, 255, 0.8);
	text-decoration: salmon;
}
#ico
{
	float: left;
	height: 50px;
}
.comment {
    margin: 20px 0px 20px 20px;
}
#findButton{
margin-right: 10px;
}
#listButton
{
margin-right: 10px;
font-size: 15px;
text-decoration: none;
background-color:rgba( 255, 255, 255, 0.1);
border-color: white;

padding:10px 10px 10px 10px;
color:white;
}
#inputForm
{
width: 200px;
}
#divForEnterance
{
	width: 230px;
	height: 250px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 10px;
}

#dropbtn {

    background: transparent;
    border: none !important;
    font-size:0;
}

#main
{
    background: transparent;
    border: none !important;
    font-size:0;
}


#send_bttn {
  background-color: #ddd;
  text-align:center;
  border-radius: 16px;
  cursor: pointer;
   display: inline-block;
 border: none;
 font-size:15px;
 font-weight:bold;
 height:45px;
 width: 150px;
 float:right;
 margin-top:1%;
}
#send_bttn:hover {
    background-color: #f1f1f1;
}
#buttonS
{
    width: 200px;
	background-color:#6f7d91;
	border: 3px solid white;;
	color:white;
}
#buttonS:hover {background-color: #434d5b}

#buttonS:active {
  background-color: #a0b6d3;
}