#heart
{
    height: 15px;
}
#heartimg
{
	width: auto;
    height: 100%;
	opacity: 0.5;
}
#date
{
	font-style: oblique;
	font-size: 13px;
	text-align: right;
	font-weight: normal;
}
#postImage
{
  max-height:400px;
  max-width:200px;
}
#postPicDiv
{
  overflow:hidden;
  max-height:100px;
}
#article
{
  max-height: 100px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
#statement:focus
{
	color: white;
}