#imageUpload
{
    display: none;
}

#postPicDiv
{
	margin-bottom: 20px;
	margin-top:20px;
}

#bttn
{
	margin-top:5px;
	background-color:rgb(255, 255, 255, 0.7);
}

#PostPicHeader
{
	margin-top:10px;
}
