@media screen and (max-width: 800px)
{
  #userName
  {
    overflow: auto;
  }
}
button {

    background: transparent;
    border: none !important;
    font-size:0;
}

#heartimg
{
  width: auto;
    height: 100%;
}
#heart
{
    height: 35px;
}
