#articles
{
	height: auto;
    max-height: 85%;
    overflow-x: hidden;
}
#subscribersCol
{
	height: auto;
    max-height: 220px;
    overflow-x: hidden;
}
#divWithArticles
{
  max-height: 750px;
  margin-bottom: 20px;
  background-color:#9e9ca8;

}
#articles
{
	font-size: 20px;
	font-weight: bold;
}

#date
{
	font-style: oblique;
	font-size: 13px;
	text-align: right;
	font-weight: normal;
}

#heart
{
    height: 15px;
}

#heartimg
{
	width: auto;
    height: 100%;
	opacity: 0.5;
}

#likesamount
{
	font-size: 15px;
	font-weight: normal;
}

#userLabel
{
	text-align: center;
	background-color: #eeedf2;
	overflow: auto;
}

#header
{
	font-family: Century Gothic;
}

#headerDiv
{
	background-image: linear-gradient(to right, rgb(247, 237, 242), rgb(247, 168, 205));
	opacity: 0.7;
}



#info
{
	background-color: #eeedf2;
}

#subscriberRow
{
	height: 45px;
}

#subscriberImg
{
	width: auto;
    height: 100%;
}
#subscriberName
{
	font-size:20px;
}
#subscribersCol
{
	background-color:rgb(237, 220, 242,0.6);
}

#imageUpload
{
    display: none;
}

@media screen and (max-width: 990px) {  
   #subscriberName{
    display: none;
  }
}

@media screen and (max-width: 780px) 
{
	#subscribersHeader
	{
		font-size:15px;
	}
}

.container
{
	margin-bottom: 5%;
}
#subscribersAmount, #articlesAmount
{
  font-weight: bold;
}