{% extends 'base.html' %}
{% block body %}
<div class="container" >
<form method="post" >
<div class="row" id="reg" style="">
         <label style="font-size: 20px; color: black;margin-left: 1%;%">Написати коментар</label>{% csrf_token %}
          {% for foo in form %}
            {{ foo }}
          {% endfor %}
    <button id="send_bttn" type="submit" style="margin-top: 0px;" >Надіслати</button>
</div>
</form>
</div>
{% endblock %}