<form method="GET" action="{% url 'blog:category_list' %}">
    {% for obj in objects_list %}
        <a href="#" class="list-group-item list-group-item-action">{{ obj.title }}</a>
    {% endfor %}
</form>
