{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>{{ category.seo_title }}</title>{% endblock %}
{% block body %}

      <div  class="container"  style="background-color:rgb(0, 0, 0, 0.6);">
      <h1>{{ category.title }}</h1>
          	<br>
             {% for obj in items %}

                 {% if obj.status == 'Published' %}
            <div class="list-group">
			<a href="{% url 'blog:blog_detail' obj.slug %}" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-2" id = "postPicDiv"><img id="postImage" src="{{ obj.image.url }}" class="img-fluid" defult="../blog/media/post_photos/colorful-octopus.jpg"></div>
					<div class="col-10">
						<h4>{{ obj.title }}</h4>
						<p id="article">{{ obj.body }}</p>
						<div class="row">
							<div class="col-4" id="heart"><img src="{% static 'image/heart2.png' %}" id="heartimg"><label id="likesamount"> {{ obj.likes.count }}</label></div>
							<div class="col-4" id="heart"><img src="{% static 'image/Comment.png' %}" id="heartimg"><label id="likesamount"> {{ obj.comments.count }}</label></div>
							<div class="col-4"><p id="date">{{ obj.created }}</p></div>
						</div>
					</div>
				</div>
			</a>

		</div>

{% endif %}
             {% endfor %}
      <br>
      </div>
{% endblock %}