{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}<title>{{ post.title }}</title>{% endblock %}
{% block body %}


<div class="container" style="background-color:rgb(0, 0, 0, 0.6);  padding-bottom: 20px;">
		<div class="row">
			<div class="col-11"><h2 style="color:white;">{{ post.title }}</h2></div>
        </div>
		<div class="row">
			<div class="col-7" id="userName"><h6 style="color:#d5d9e0;"><a href="{% url 'blog:uPage' post.author.username %}" style="color:#d5d9e0;">{{ post.author }}</a></h6></div>
            {% if post.author == request.user or request.user.is_staff  %}
             <div class="col-1" style="height: 25px;"><a  href="{% url 'blog:edit_post' slug=post.slug %}"><img src="{% static 'image/Editing-edit-icon.png' %}" style= "width: auto;height: 100%;opacity: 0.7;"></a></div>
			 <div class="col-1" style="height: 40px; float:right"><a href="{% url 'blog:delete_post' post.slug %}"><img src="{% static 'image/del.png' %}" style="width: auto;height: 100%;opacity: 0.8;"></a></div>
            {% endif %}
            <br>
            <div class="col-1"><label style="font-size: 13px; color:#e87153;">{{ post.status }}</label></div>
            <div class="col-2" style="font-size:12px;text-align: right; color:white;">published at: <label style="font-style:italic; color:red;">{{ post.created }}</label></div>
		</div>

		<div class="row">
			<div class="col-12" style="background-color:white; padding: 20px 20px 20px 20px;">
				<p>{{ post.body|linebreaks }} </p>
			</div>
		</div>

    <div class="row" style="background-color:white; padding-bottom: 15px;"><div class="col-12" id="heart"><a href = "{{ post.get_like_url }}"><button id="heart" ><img src="{% static 'image/heart2.png' %}" id="heartimg"></button></a><label style="font-weight:bold;">{{ post.likes.count }}</label></div></div>

    <br><br>
<div class="container">
      <div class="form-group">

            <a href = '{% url 'blog:add_comment' post.slug %}'><button id="send_bttn" type="submit" >Коментар</button></a>
          <br>
      </div>
    </div>
    <div class="row" style="background-color:white; padding-left: 30px; padding-right:30px; padding-bottom:10px;">

    <br><br>
         {% for comment in post.comments.all %}
			<div class="col-8">

				<a href="{% url 'blog:uPage' comment.author %}" style="color: #b2425c; font-weight:bold;">{{ comment.author }}</a>
			</div>
										      <!--   <div class="col-1"><a href="#"><button style="color:red; font-size:13px; font-weight:bold;margin-right: 0px;">delete</button></a></div>-->
			<div class="col-3" style="font-size:12px;text-align: right;">published at: <label style="font-style:italic; color:red;">{{ comment.created_date }}</label></div>
			<div class="col-12" style="background-color:#f4e8eb;">
				<p>{{ comment.text|linebreaks }} 	</p>
				          
			</div>
                    {% empty %}
    <p>No comments here yet </p>
                {% endfor %}
		</div>

	</div>
{% endblock %}