{% extends 'base.html' %}
{% block title %}<title>New Post</title>{% endblock %}
{% block body %}
     <div id= "reg" class="container">
        <h1>New post</h1>
    <form method="POST" class="post-form" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form %}
        <h5>{{ field.label_tag }}</h5>
          {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% endfor %}
        <button id="buttonS" type="submit" class="save btn btn-default" style = "margin-top: 2%; margin-bottom: 5%;">Save</button>

    </form>
     </div>
{% endblock %}