{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}<title>{{ user.username }}</title>{% endblock %}

{% block body %}

		<div class="container"  style="background-color:rgb(0, 0, 0, 0.6);">

		<br><br>
        <div class="row">
			<div class="col-3">
			    <div id="userLabel"><h3> {{user.username}} </h3></div>
				<img id="profileImage" src="{{ profile.avatar.url }}" class="img-thumbnail">
				<input id="imageUpload" type="file"
                name="profile_photo" placeholder="Photo" required="" capture>
            {% if user == request.user %}
				<div class="row-3 bg-success"><button id="bttn" type="button" id="suka" class="btn btn-primary btn-block" value="Upload" onclick="return Upload()">Змінити фото</button></div>
                <div class="row-3"><a href="{% url 'blog:delete_user' user.username%}"><button id="settings" type="button" class="btn  btn-block" value="Upload" style="background-color:red; color:white;"onclick="DeleteFun()">Видалити сторінку</button></a></div>
			{% else %}
                <div class="row-3"><a href="{% url 'blog:follow-toggle' user.username %}"><button id="settings" type="button" class="btn  btn-block"  style="background-color:red; color:white;">Стежити</button></a></div>
            {% endif %}
                <div id="info"><label>Кількість підписників: </label><label id="subscribersAmount"> {{ profile.followers.count }}</label></div>
				<div id="info"><label>Кількість статей: </label><label id="articlesAmount">{{articles.count }}</label></div>
				<br>
				<div class="container" id="subscribers">
				<h5 id="subscribersHeader" style="color:white;">Підписники</h5>
					<div class="col" id="subscribersCol">

                        {% for foo in profile.followers.all %}
                        <div class="row" id="subscriberRow"><a href="{% url 'blog:uPage' foo.username %}" class="list-group-item-action"><label id="subscriberName">{{ foo.username }}</label></a></div>

                        {% endfor %}

						</div>
				</div>
			</div>
			<div class="col-8" id="divWithArticles">
            <div class="dropdown">     <!--ОТУТ ВОНО ПОЧИНАЄТЬСЯ-->
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          style="width:100%;">
          Подробиці
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%;">
            <div  style="width: 100%; padding-left:2%; padding-rihgt:2%;"><h5>Ім'я:</h5><p>{{ user.first_name }}  {{ user.last_name }}</p></div>
            <div style="width: 100%; padding-left:2%; padding-right:2%;"><h5>Дата народження:</h5><p>{{ profile.birth_date }}</p></div>
            <div  style="width: 100%; padding-left:2%; padding-right:2%;">
              <h5>Біо:</h5><p>{{ profile.bio }}</p>
            </div>
          </div>
        </div>
				<div class="col-12" id="headerDiv" style="text-align: center;"><h3 id="header">Мої статті</h3></div><br>

                <div class="list-group" id="articles">
                    {% for obj in articles %}
					<a href="{% url 'blog:blog_detail' obj.slug %}" class="list-group-item list-group-item-action">{{ obj.title }} <br>
						<div class="row">
							<div class="col-5" ><img id="heart" src={% static 'image/heart2.png'%} id="heartimg><label id="likesamount">{{ obj.likes.count }}</label></div>
							<div class="col-7"><p id="date">{{ obj.created }}</p></div>
						</div>
					</a>
                    {% endfor %}
				</div><br>

			</div>
        </div>
	</div>

<script type="text/javascript">
	function DeleteFun(){alert("Сторвнку видалено!");}
$("#bttn").click(function(e) {
    $("#imageUpload").click();
});

function fasterPreview( uploader ) {
    if ( uploader.files && uploader.files[0] ){
          $('#profileImage').attr('src',
             window.URL.createObjectURL(uploader.files[0]) );

    }
}

$("#imageUpload").change(function(){
    fasterPreview( this );
});
</script>
{% endblock %}